body{
  text-align: center;
  background-color: #6d6857;
  font-size: 1.15rem;
}

.imgDiv{
  width: 50%;
  height: 400px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
}

ul{
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 0 auto;
  list-style: none
}

.roomItems{
  display: block;
  width: 100%;
  justify-content: space-around;
  padding: 0
}

p{
  width: 60%;
  text-align: center;
  margin: auto;
}

header{
  position: fixed;
  margin-top: 20px;
  margin-left: 20px
}

#mainDisplay{
  display: flex
}

.room{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player{
  margin: 0 auto
}

button{
  background-color: #555555;
    border: none;
    color: white;
    width: auto;
    padding: .5rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

#roomTitle{
  margin-top: 0;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}